/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/* Header Styles */
header {
  background-color: #047329;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #ffffff;
  font-size: 36px;
  margin: 0;
}

/* Navigation Styles */
nav {
  background-color: #f9f9f9;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #555;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #047329;
  color: #ffffff;
}

/* Main Content Styles */
main {
  padding: 20px;
}

/* Tabs Styles */
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

/* Footer Styles */
footer {
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
  color: #555;
  font-size: 14px;
}

/* Restaurant Search Styles */
#searchForm {
  margin-bottom: 20px;
}

#searchResults {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#searchResults li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.request-button {
  background-color: #ffc107;
  color: #000;
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.request-button:hover {
  background-color: #ffa000;
}

.loginbtn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  text-align: center;
  cursor: pointer;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.loginbtn:hover {
  opacity: 0.8;
}

input[type=text], input[type=password] {
  padding: 12px 20px;
  margin: 8px 0;
  /*text-align: center;*/
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

#center {
  text-align: center;
}
