<!DOCTYPE html>
<html>
<head>
  <title>Restaurants</title>
  <style>
    #map {
      height: 400px;
      width: 100%;
    }
  </style>
</head>
<body>
  <h2>Restaurants</h2>
  <div id="map"></div>
  <ul id="searchResults"></ul>
  <h3>Restaurants Near Location</h3>
  <ul id="restaurantList"></ul>

  <script>
    function initMap() {
      var mapDiv = document.getElementById('map');
      var map = new google.maps.Map(mapDiv, {
        center: {lat: 37.7749, lng: -122.4194}, // Replace with the desired latitude and longitude
        zoom: 14
      });

      var restaurants = JSON.parse('{{ restaurants | tojson | safe }}');
      console.log(restaurants);

      restaurants.forEach(function (restaurant, index) {
        var position = {lat: restaurant.geometry.location.lat, lng: restaurant.geometry.location.lng};
        var marker = new google.maps.Marker({
          position: position,
          map: map,
          label: (index + 1).toString(),
          title: restaurant.name
        });

        var infoWindow = new google.maps.InfoWindow({
          content: '<h3>' + restaurant.name + '</h3>' +
                   '<p>' + restaurant.vicinity + '</p>'
        });

        marker.addListener('click', function () {
          infoWindow.open(map, marker);
        });
      });

      var restaurantList = document.getElementById('restaurantList');

      restaurants.forEach(function (restaurant, index) {
        var listItem = document.createElement('li');
        var restaurantName = document.createElement('span');
        var restaurantAddress = document.createElement('span');

        restaurantName.textContent = restaurant.name;
        restaurantAddress.textContent = restaurant.vicinity;

        listItem.appendChild(restaurantName);
        listItem.appendChild(document.createTextNode(' - '));
        listItem.appendChild(restaurantAddress);

        restaurantList.appendChild(listItem);
      });
    }
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDp2sWaBCBVR0P3katwTumON1JbB5Iw1aA&callback=initMap" async defer></script>
</body>
</html>
